* {
	background-color: #0f0f0f;
	color: white;
	width: 400px;
}

body {
	margin: 15px;
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.progressBarContainer {
	width: 80%;
	background-color: #5a5a5a;
}

.progressBar {
	max-width: 100%;
	height: 10px;
	background-color: #0077ff;
	border-radius: 0px 10px 10px 0px;
}

.item {
	display: flex;
	flex-direction: column;
}

.elementName {
	font-size: 14px;
	text-decoration: none;
}

.titleContainer {
	display: flex;
	flex-direction: row;
}

.icon {
	width: 32px;
	height: 32px;
}

.counter {
	display: flex;
	margin: 12px 0px 0px 40px;
	text-align: left;
	font-size: 16px
}
